<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 43.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=486834cb7b46a1cc57b6c42b19719bd1bcf66f69b10e696d38b8acaedebb23c6
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [3]:
%load_ext sql

In [1]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [6]:
df.shape

(101, 10)

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [8]:
cursor_obj = con.cursor()

In [9]:
cursor_obj.execute("select * from sqlite_schema")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('table', 'SPACEXTBL', 'SPACEXTBL', 2, 'CREATE TABLE "SPACEXTBL" (\n"Date" TEXT,\n  "Time (UTC)" TEXT,\n  "Booster_Version" TEXT,\n  "Launch_Site" TEXT,\n  "Payload" TEXT,\n  "PAYLOAD_MASS__KG_" INTEGER,\n  "Orbit" TEXT,\n  "Customer" TEXT,\n  "Mission_Outcome" TEXT,\n  "Landing_Outcome" TEXT\n)')
('table', 'SPACEXTABLE', 'SPACEXTABLE', 6, 'CREATE TABLE SPACEXTABLE(\n  Date TEXT,\n  "Time (UTC)" TEXT,\n  Booster_Version TEXT,\n  Launch_Site TEXT,\n  Payload TEXT,\n  PAYLOAD_MASS__KG_ INT,\n  Orbit TEXT,\n  Customer TEXT,\n  Mission_Outcome TEXT,\n  Landing_Outcome TEXT\n)')

In [10]:
cursor_obj.execute("select count(1) from SPACEXTABLE")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

(101,)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
cursor_obj.execute("select Launch_Site, count(1) from SPACEXTABLE group by Launch_Site")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('CCAFS LC-40', 26)
('CCAFS SLC-40', 34)
('KSC LC-39A', 25)
('VAFB SLC-4E', 16)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
cursor_obj.execute("select * from SPACEXTABLE where upper(Launch_Site) like 'CCA%' limit 5")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
cursor_obj.execute("select Customer, count(1) from SPACEXTABLE where upper(Customer) like '%NASA%' group by Customer")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('Iridium Communications GFZ ‚ NASA', 1)
('NASA (CCD) ', 1)
('NASA (CCDev)', 1)
('NASA (CCP)', 1)
('NASA (COTS)', 1)
('NASA (COTS) NRO', 1)
('NASA (CRS)', 20)
('NASA (CRS), Kacific 1', 1)
('NASA (CTS)', 1)
('NASA (LSP)', 1)
('NASA (LSP) NOAA CNES', 1)
('NASA / NOAA / ESA / EUMETSAT', 1)
('U.S. Air Force NASA NOAA', 1)

In [14]:
cursor_obj.execute("select Date, Customer, PAYLOAD_MASS__KG_ from SPACEXTABLE where Customer = 'NASA (CRS), Kacific 1'")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('2019-12-05', 'NASA (CRS), Kacific 1', 2617)

In [15]:
cursor_obj.execute("select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where upper(Customer) like '%NASA (CRS)%'")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

(48213,)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
cursor_obj.execute("select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version like 'F9 v1.1%'")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

(2534.6666666666665,)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
cursor_obj.execute("select Landing_Outcome, count(1) from SPACEXTABLE group by Landing_Outcome")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('Controlled (ocean)', 5)
('Failure', 3)
('Failure (drone ship)', 5)
('Failure (parachute)', 2)
('No attempt', 21)
('No attempt ', 1)
('Precluded (drone ship)', 1)
('Success', 38)
('Success (drone ship)', 14)
('Success (ground pad)', 9)
('Uncontrolled (ocean)', 2)

In [18]:
cursor_obj.execute("select Mission_Outcome, count(1) from SPACEXTABLE group by Mission_Outcome")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('Failure (in flight)', 1)
('Success', 98)
('Success ', 1)
('Success (payload status unclear)', 1)

In [36]:
cursor_obj.execute("select Landing_Outcome, Mission_Outcome, count(1) from SPACEXTABLE group by Landing_Outcome, Mission_Outcome")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('Controlled (ocean)', 'Success', 5)
('Failure', 'Success', 3)
('Failure (drone ship)', 'Success', 5)
('Failure (parachute)', 'Success', 2)
('No attempt', 'Success', 20)
('No attempt', 'Success ', 1)
('No attempt ', 'Success', 1)
('Precluded (drone ship)', 'Failure (in flight)', 1)
('Success', 'Success', 38)
('Success (drone ship)', 'Success', 14)
('Success (ground pad)', 'Success', 8)
('Success (ground pad)', 'Success (payload status unclear)', 1)
('Uncontrolled (ocean)', 'Success', 2)

In [26]:
cursor_obj.execute("select min(Date) from SPACEXTABLE where Landing_Outcome = 'Success (ground pad)'")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('2015-12-22',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [30]:
cursor_obj.execute("select distinct Booster_Version from SPACEXTABLE where Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [33]:
cursor_obj.execute("select case when upper(Mission_Outcome) like '%SUCCESS%' then 'SUC' else 'FAIL' end as s_f, count(1) from SPACEXTABLE group by case when upper(Mission_Outcome) like '%SUCCESS%' then 'SUC' else 'FAIL' end")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('FAIL', 1)
('SUC', 100)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [38]:
cursor_obj.execute("select Booster_Version, PAYLOAD_MASS__KG_ from SPACEXTABLE s inner join (select max(PAYLOAD_MASS__KG_) max_pm from SPACEXTABLE) t on s.PAYLOAD_MASS__KG_ = t.max_pm order by Booster_Version")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('F9 B5 B1048.4', 15600)
('F9 B5 B1048.5', 15600)
('F9 B5 B1049.4', 15600)
('F9 B5 B1049.5', 15600)
('F9 B5 B1049.7 ', 15600)
('F9 B5 B1051.3', 15600)
('F9 B5 B1051.4', 15600)
('F9 B5 B1051.6', 15600)
('F9 B5 B1056.4', 15600)
('F9 B5 B1058.3 ', 15600)
('F9 B5 B1060.2 ', 15600)
('F9 B5 B1060.3', 15600)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [44]:
cursor_obj.execute("select Date, substr(Date, 6,2) as month, Booster_Version, Launch_Site from SPACEXTABLE where Landing_Outcome = 'Failure (drone ship)' and substr(Date,0,5) = '2015'")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('2015-01-10', '01', 'F9 v1.1 B1012', 'CCAFS LC-40')
('2015-04-14', '04', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [46]:
cursor_obj.execute("select Landing_Outcome, count(1) as db from SPACEXTABLE where Date between '2010-06-04' and '2017-03-20' group by Landing_Outcome order by count(1) desc")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

('No attempt', 10)
('Success (drone ship)', 5)
('Failure (drone ship)', 5)
('Success (ground pad)', 3)
('Controlled (ocean)', 3)
('Uncontrolled (ocean)', 2)
('Failure (parachute)', 2)
('Precluded (drone ship)', 1)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>